*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android/build/
/core/build/
/android/app/build/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~
gen/
out/
